extends layout 
 
block content 
  h1= title 
 
  - let umbrellaid = toShow._id 
  - let umbrella_type = toShow.color 
  - let umbrellacost = toShow.cost 
  - let umbrellasize = toShow.hieght 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{umbrellaid} 
  - let actionid = "/resource/umbrellas/" + umbrellaid 
  form(id='UmbrellaForm', action= actionid, method="PUT") 
    div.form-group 
        label.umbrellaAttr(for='color') Umbrella color 
        input#umbrella_type(type='text', name='color', value= umbrella_type ) 
    div.form-group 
        label.umbrellaAttr(for='cost') Umbrella cost 
        input#size(type='text', name='cost', value= umbrellasize ) 
    div.form-group 
        label.umbrellaAttr(for='size') Umbrella  height  
        input#cost(type='number', name='size', value= umbrellacost ) 
    input(type="submit") 
 
  script. 
    document.forms['UmbrellaForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 